<div *ngIf="room">
  <h4>{{ room.title }}</h4>

  <div class="chat-window border border-primary rounded">
    <div> <!-- This is only used to negate flex direction. See comments in CSS. -->
      <ul>
        <li *ngFor="let message of messages">
          <span class="username">{{ message.name }}</span>
          <!-- Message body -->
          {{ message.message }}
          <time [attr.datetime]="message.created"
                class="message-created">
            {{ message.created | date:'medium' }}
          </time>
        </li>
      </ul>
    </div>
  </div>

  <!-- Send Message controls -->
  <input #message
         (keyup.enter)="addMessage(message.value); message.value=''"
         class="form-control message border-primary"
         placeholder="Enter a message" />
  <button (click)="addMessage(message.value); message.value=''"
          type="button"
          class="btn btn-primary send">
    Send
  </button>

</div>

