<h2>
  {{ room ? 'Update ' : 'Create Room' }}
  <em *ngIf="room">{{ room.title }}</em>
</h2>

<!-- Input controls -->
<input #title
       class="form-control border-primary"
       placeholder="Enter title"
       [value]="room ? room.title : ''"/>
<textarea #desc
          class="form-control border-primary"
          placeholder="Enter description" rows="3"
          [value]="room ? room.description : ''"></textarea>

<!-- Manage room controls -->
<button *ngIf="!room"
        type="button"
        class="btn btn-primary"
        (click)="addRoom(title.value, desc.value)">
  Create
</button>
<button *ngIf="room"
        type="button"
        class="btn btn-primary"
        (click)="updateRoom(title.value, desc.value)">
  Update
</button>
<button type="button"
        class="btn btn-secondary"
        (click)="goBack()">
  Cancel
</button>
