<h2>Rooms</h2>

<button type="button"
        class="btn btn-primary create-room"
        routerLink="/rooms/new">
  Create
</button>

<ngb-accordion #roomAcc="ngbAccordion"
               class="container"
               [closeOthers]="true"
               [activeIds]="enabledPanels"
               (panelChange)="panelChange()">

  <!-- Show each room in ngb-panel -->
  <ngb-panel *ngFor="let room of rooms" [id]="'panel-' + room._id" [title]="room.title">
    <ng-template ngbPanelContent>
      <!-- Room body -->
      <p>{{ room.description }}</p>

      <!-- Join/Leave Room controls -->
      <button *ngIf="!currentRoom || currentRoom._id != room._id"
              (click)="joinRoom(room)"
              type="button"
              class="btn btn-primary join-room">
        Join
      </button>
      <button *ngIf="currentRoom && currentRoom._id == room._id"
              (click)="leaveCurrentRoom()"
              type="button"
              class="btn btn-secondary leave-room">
        Leave
      </button>
      <button routerLink="/rooms/{{ room._id }}"
              type="button"
              class="btn btn-secondary update-room">
        Update
      </button>
    </ng-template>
  </ngb-panel>

</ngb-accordion>

<button *ngIf="currentRoom"
        type="button"
        class="btn btn-secondary leave-current-room"
        (click)="leaveCurrentRoom()" >
  Leave Current
</button>

<div class="chat-wrapper">
  <app-chat *ngIf="currentRoom" [room]="currentRoom" ></app-chat>
</div>
