/* Room component private styling */

.btn.create-room {
  position: absolute;
  top: 25px;
  right: 20px;
}

.join-room, .leave-room, .update-room {
  display: inline-block;
  min-width: 100px;
}

.leave-current-room {
  margin: 25px 0;
}

.chat-wrapper {
  margin-bottom: 200px;
}
