/* Application-wide Styles */
body {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #474747;
  padding-bottom: 70px;
}

header {
  padding: 20px;
  border-bottom: 2px solid #eee;
  position: relative;
}

header h1 {
  margin: 0;
}

.root-container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  padding: 20px;
  position: relative;
}

#app-title a {
  text-decoration: none;
}
