/* Private styling for User login component */

h3 {
  margin-bottom: 50px;
}

input {
  margin: 20px 0;
}

.container {
  text-align: center;
  padding: 50px 20%;
}

.log-in {
  width: 25%;
  font-size: 150%;
  margin: 50px auto;
}
